.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-heading {
  text-align: left;
}

.table-data {
  text-align: right;
}
.align-right {
  text-align: right;
}
.report-table {
  border-collapse: collapse;
  width: 98%;
  margin-top: 20px; 
  margin-left: 10px;
}

.report-table th, .report-table td {
  border: 1px solid #303030; /* Adjust the style and color as needed */
  padding: 8px;
  text-align: left;
}

.report-table th {
  background-color: #f2f2f2; /* Add a background color for header cells if desired */
}
.btn-div{
  display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}
.action-button{
  color: white;
  background-color: #086cd4;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.report-button{
  color: white;
  background-color: #086cd4;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.search-button{
  color: white;
  background-color: #086cd4;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-right: 5px;
}
.date-input{
  margin-left: 5px;
}
